/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/*
 /= require jquery-ui
 */

// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body,
body>p,
body>ol,
body>ul,
body>td {
    margin: 8px!important
}

.col-md-4 .col-md-12 table tbody {
    padding: 10px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.row .col-md-4 .col-md-12 {
    padding-right: 0;
    border-left: 2px solid #ccc;
}

.pull-left {
    float: left;
}

.w-100 {
    width: 100%!important;
}

.d-block {
    display: block!important;
}

.fa-google-plus-square {
    font-size: 50px;
    margin-left: 10px;
    color: #FFC312;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.circular img {
    border-radius: 100%;
    border: 1px solid #f8f9fa;
}

.small_image_color {
    width: 50px;
    height: 55px;
    margin-right: 5px;
}

.pitem img:hover {
    -webkit-transform: scale(1.03);
    /* Safari and Chrome */
    -moz-transform: scale(1.03);
    /* Firefox */
    -ms-transform: scale(1.03);
    /* IE 9 */
    -o-transform: scale(1.03);
    /* Opera */
    transform: scale(1.03);
}

#navbarText {
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    margin-left: -8px;
    margin-right: -8px;
    .nav-link {
        color: #fff;
        text-transform: uppercase;
        padding: 4px 22px;
    }
    .nav-link:hover {
        color: #f54d4d;
    }
    .nav-item {
        white-space: nowrap;
        .img_cart {
            // margin-top: -14px;
            width: 60px;
            height: 60px;
        }
        .rounded-circle {
            background-color: red;
            color: #fff;
            margin-top: -55px;
            margin-left: 45px;
            padding: 0px 6px;
            width: auto;
            max-width: 30px;
            text-align: center;
            font-size: 14px
        }
    }
    .dropdown {
        .img {
            margin: 0px 20px;
            width: 50px;
            height: 50px;
        }
    }
    .dropdown-menu {
        margin-top: -3px;
        background-color: black;
        text-transform: capitalize;
    }
    .dropdown-item {
        color: #fff;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .dropdown-item:hover {
        color: #000000;
    }
    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
}

#banner {
    .img {
        width: 10px;
        height: 10px;
        // background-color: black;
    }
    .title {
        //  font: small-caps 33px/33px "Times New Roman", serif;
        position: relative;
        min-height: 15px;
        // background: rgb(66, 64, 64);
        background: #080808;
        padding-top: 1px;
        padding-left: 40px;
        margin-left: 100px;
        border-bottom: 3px solid rgb(238, 92, 25);
        clear: both;
        .menu-button {
            background-color: transparent;
            color: #fff;
            padding: 20px 18px;
            font-size: 18px;
            // cursor: pointer;
            border: 0px solid #fff;
            display: block;
            text-decoration: none;
        }
        .menu-right {
            // padding-left: 30px;
            // cursor: pointer;
            // order: 3;
            // display: flex;
            float: right;
            right: 0px;
            width: 10px;
            height: 10px;
        }
        .menu {
            // overflow: hidden;
            position: relative;
            display: inline-block;
            // img {
            //     margin-right: 40px;
            //     width: 35px;
            //     height: 35px;
            //     top: -25px;
            // }
            .fas {
                color: #ffffff;
            }
        }
        .column {
            float: left;
            width: 100%;
            // margin-right: 5px;
            margin-top: -268px;
            margin-left: 170px;
            // background-color: #ccc;
            min-height: 270px;
        }
        .button {
            background-color: #080808;
            color: #fff;
            padding: 13px 30px;
            width: 170px;
            // padding-left: 18px;
            // padding-right: 18px;
            font-size: 15px;
            border: 0px solid #fff;
            text-align: left;
            display: block;
            text-decoration: none;
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #080808;
            margin-top: -3px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
        }
        .dropdown-menu .button:hover {
            background-color: #fff;
            color: #000000;
        }
        .menu:hover .dropdown-menu {
            display: block;
        }
        .menu:hover .menu-button {
            color: #f54d4d;
        }
    }
    img {
        position: absolute;
        margin-left: 9px;
        padding-top: 2px;
        top: 0;
        left: 0;
        width: 88px;
    }
}

#footer_frame {
    .footer {
        padding: 0px 30px;
        position: relative;
        min-height: 380px;
        margin-left: -8px;
        margin-right: -8px;
        background: #080808;
        bottom: 0;
        border-top: 3px solid rgb(238, 92, 25);
    }
    .row {
        margin-right: -8px;
    }
    p {
        font-size: 33px;
        margin: 25px 100px;
        color: rgb(238, 92, 25);
    }
    h5 {
        font-size: 15px;
    }
    .footer .footer-content {
        //  padding: 0px 30px;
        color: #fafafa;
    }
    .footer .footer-bottom {
        background: #fafafa;
        color: #4e4c4c68;
        height: 20px;
        font-size: 19px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    a {
        color: #fff;
    }
    img {
        position: absolute;
        margin-left: 30px;
        padding-top: 2px;
        top: 0;
        left: 0;
        width: 85px;
    }
}

#notice {
    color: #000 !important;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}

#notice:empty {
    display: none;
}

#columns {
    background: rgb(77, 84, 88);
    display: flex;
    height: 100%;
    #main {
        padding: 3px 35px;
        background: rgb(255, 255, 255);
        flex: 1;
    }
    #side {
        width: 88px;
        padding-left: 14px;
        background: rgb(238, 92, 25);
        position: relative;
        font-size: 15px;
        ul {
            padding: 0;
            li {
                list-style: none;
                a {
                    color: rgb(0, 0, 0);
                    // font-size: small;
                }
            }
        }
    }
}

.fw-normal {
    color: #363333;
    text-align: center;
}

.fw-normal:hover {
    color: #234bb8;
    text-decoration: none;
}

.scrollToTop {
    margin: 0px;
    position: fixed;
    bottom: 8.5%;
    right: 12px;
    z-index: 100;
    justify-content: center;
    display: none;
    text-decoration: none;
    border-radius: 100%;
    background-color: #ee5c19;
    padding: 10px 17px 10px 15px;
    font-size: 20px;
}

.fa.fa-arrow-up {
    color: white;
}

.fa.fa-arrow-up:hover {
    color: whitesmoke;
}

.text-black {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

.text {
    color: #5c5454;
    margin-bottom: 20px;
}

.price-detail {
    color: #ee4266;
    margin-bottom: 20px;
}

.required {
    color: #F00;
}

.flex.items-center.top {
    margin-top: 10px;
    margin-bottom: 20px;
}

.flex.items-center.topv {
    margin-bottom: 10px;
}

.product-color-text {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 97%;
    font-style: oblique;
    vertical-align: baseline;
}

#product-size-text {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 97%;
    vertical-align: baseline;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button-productDetails {
    margin-bottom: 20px;
}

.button_to {
    border-radius: 5px;
    margin-left: 30px;
    padding: 8px 13px;
    border: 1px solid #f54d4d;
    background: rgba(255, 87, 34, .1);
}

.button_to.buy {
    color: #f54d4d;
    font-size: 15px;
}

.button_to.buy:hover {
    text-decoration: none;
    background: rgba(255,87,34,.15);
}


.button_to.now {
    color: #fff;
    background: #ee4d2d;
    font-size: 15px;
    padding-left: 55px;
    padding-right: 55px;
}

.button_to.now:hover {
    text-decoration: none;
    background: #f05d40;
}

.fa.fa-shopping-basket.bg {
    margin-right: 5px;
    color: #ee4d2d;
    stroke: #ee4d2d;
}

.row{
    input[type="radio"]{
        position: absolute;
        opacity: 0;
        +.product-size {
            cursor: pointer;
            box-sizing: border-box;
            padding: 5px 30px 5px 30px;
            margin: 0px 0px 10px 35px;;
            color: rgba(0,0,0,.8);
            text-align: left;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.09);
            position: relative;
            background: #fff;
            outline: 0;
            word-break: break-word;
            &:hover {
                text-decoration: none;
                color: #ee4d2d;
                border-color: #ee4d2d;
            }
        }
        &:checked + label {
            color: #F00;
            border-color: #F00;
        }
    }
}

#number {
    width: 3em;
}

.row.p{
    input[type="radio"]{
        position: inherit;
        opacity: 1;
    }
}
