<div class="table-title">
        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-md-1">
            <div class="padding-STT"> STT</div>
          </div>
          <div class="col-xs-12 col-md-3">
            Sản Phẩm
          </div>
          <div class="col-xs-12 col-md-1">
            Size
          </div>
          <div class="col-xs-12 col-md-2">
            Đơn Giá
          </div>
          <div class="col-xs-12 col-md-1">
            Số lượng
          </div>
          <div class="col-xs-12 col-md-1">
            Số tiền
          </div>
          <div class="col-xs-12 col-md-1">
            Thao tác
          </div>
        </div>
      </div>
      <div class="total_line">
        <tr>
          <td colspan="2">Tổng chi phí:</td>
          <td><%%></td>
        </tr>
      </div>