<div class="container" >
  <%=render"dondathangs/form"%>
  <div class ="btn btn-warning">
    <i class="fa fa-chevron-left" style ="color: #000; "></i>
    <%=link_to "Back", dondathangs_path , style:"color: #000; "%>
  </div>
</div>