<div id="footer_frame">
  <div class="footer">
    <%= image_tag 'lg.jpeg', alt: 'CaseStudy2ShoppingWeb' %>
    <p> Trung tâm mua sắm trực tuyến</p>
    <br>
    <div class="footer-content">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h5>
            Email: 
            <a href="mailto:hufi@ittc@.com" title="hufi@ittc@.com">hufi@ittc@.com</a>
            <br>
            Hotline: 
            <a href="tel:(+84)357502346" title="Shop PhoneNumber">(+84)357502346</a>
          </h5>
          <h5>Trợ Giúp &amp; Tư Vấn</h5>
          <ul class="list-footer">
            <li> <a href="https://www.google.com" title="lien he">Liên hệ</a> </li>
            <li> <a href="https://www.google.com" title="ban do">Bản đồ</a> </li>
            <li> <a href="https://www.google.com" title="cach chon size quan ao">Cách chọn size quần áo</a> </li>
            <li> <a href="https://www.google.com" title="cau hoi thuong gap">Câu hỏi thường gặp</a> </li>
            <li> <a href="https://www.google.com" title="chinh sach khach vip">Chính sách khách VIP</a> </li>
            <li> <a href="https://www.google.com" title="chinh sach giao hang">Chính sách giao hàng</a> </li>
            <li> <a href="https://www.google.com" title="chinh sach doi hang">Chính sách đổi hàng</a> </li>
          </ul>
        </div>
        <div class="col-xs-5 col-md-6">
          <h5>Địa Chỉ Showroom</h5>
          140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, Hồ Chí Minh
          <br><br>
          <h5>Chủ quản: HUFI STORE
            <br>
            MST cá nhân: 89898989898989
            <br>
            Số ĐKKD: 88888888 do UBND Quận Tân Phú - TP.HCM cấp ngày 01/01/2020
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>